.hero {
  color: $white;

  h1.light {
    margin-bottom: 1rem;
  }

  .date {
    text-align: center;
  }
}

.hero-background {
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-align: center;

  .logo {
    img {
      width: 100%;
      max-width: 500px;
      margin: 5rem auto 0;
      padding: 0 $gutter * 2;
    }
  }
}

.hero-blackout {
  padding: 150px 1.75rem;
  background-color: rgba($black, .6);
}

.hero-content {
  .heading-text {
    margin: 1rem 0;
    font-size: 36px;
    text-align: center;
  }
}

.hero-dark {
  color: $white;
}

@media all and (min-width: 50rem) {
  .date-container {
    padding-top: 3rem;

    .date {
      margin: .5rem 0;
    }
  }
}
