.schedule {
  h2 {
    margin: 1.5rem 0 .75rem;
  }

  .disclaimer {
    color: $light-gray;
    font-size: 14px;
  }

  .date {
    margin: 1.5rem 0;
    padding-top: 1.5rem;
    border-top: 2px solid $primary;
  }

  .time {
    margin-bottom: 1rem;

    span {
      color: $secondary;
    }

    .secondary {
      color: $gray;
    }
  }

  .secondary {
    color: $gray;
  }

  p {
    margin: 0 0 .5rem;
  }

  ul {
    margin: 0 0 2rem;
    padding-left: 1rem;
  }

  li {
    margin: .5rem;
  }
}

a {
  .read-more-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: .25rem .5rem;
    border: 1px $primary solid;
    border-radius: 20px;
    color: $primary;
    cursor: pointer;

    &:hover {
      border-color: $primary-light;
      color: $primary-light;
    }
  }
}

.read-more-text {
  display: none;
}
