$black: #12181c;
$white: #fff;

$body-color: #565656;

$dark-gray: #344553;
$gray: #cdccd0;
$light-gray: #e0e0e2;

$primary-color: #18bcf3;
$primary-color-light: #45c8f4;

$secondary-color: #36a0b8;
$secondary-color-light: #41b1ca;

$background-color-dark: #0f2136;
$background-color-medium: #22415a;
$background-color-light: #355f76;
$background-color-hue: #41b1ca;
$background-light-gray: #f2edec;

$header-color: $black;
$footer-color: $black;

$button-color: #158bbe;
$button-color-hover: #3bb1db;

$error: #f74444;

// Schedule Colors
$text-color: $white;
$panel-color: $primary-color;
$panel-odd-color: $primary-color-light;
$panel-break-color: #52bde2;
$panel-text-color: $white;

// New Schedule Colors
$text-color: $white;
$panel-color: #4c75c2;
$panel-odd-color: #7590c2;
$panel-break-color: #a8b8d5;
$panel-text-color: $black;
$shadow-color: #383838;
$panel-button-color: $secondary-color;
$panel-button-color-hover: $secondary-color-light;
