.featured-speaker-container {
  display: flex;
  position: relative;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.featured-speaker-image {
  flex: 100%;
  max-width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
}

.featured-speaker-info {
  flex: 100%;
  padding: 15px;

  .speaker-name {
    text-align: center;
  }

  .speaker-title {
    margin: .5rem 0;
    text-align: center;
  }

  .speaker-description {
    text-align: center;
  }
}

@media all and (min-width: 53.125rem) { // min-width: 850px
  .featured-speaker-container {
    max-width: 980px;
    margin: 1rem auto 0;
  }

  .featured-speaker-image {
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
  }

  .featured-speaker-info {
    align-self: center;

    .speaker-name {
      text-align: center;
    }

    .speaker-title {
      text-align: center;
    }

    .featured-speaker-description {
      width: 400px;
      margin: 0 auto;
      text-align: left;
    }
  }
}
