.newsletter-subscribe-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;

  form {
    display: flex;
    align-content: flex-start;
  }

  .hs-form-field {
    width: 100%;
    padding: 0;

    label {
      margin-bottom: 0;
    }
  }

  .hs-input {
    padding: 1rem;
    font-size: 18px;
    height: 50px
  }

  .hs_submit {
    width: 100%;
    max-width: 150px;
    margin-top: 3px;
    margin-left: 1.5rem;
  }

  .hs-button {
    height: 50px
  }

  .hs-form-required {
    display: none;
  }

  .hbspt-form {
    .submitted-message {
      position: relative;
      top: none;
      transform: none;
      color: $white;
      font-family: $head-font-light;
      font-size: 28px;
      line-height: 1.4;
      text-align: center;
    }
  }
}
